*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(214, 255, 221), rgb(138, 150, 255));
}

.container{
    border: 1px lightsteelblue solid;
    background-color: rgb(230, 249, 255);
    margin: auto;
    width: 550px;
    margin-top: 70px;
    border-radius: 13px;
}

.header{
    background-color: rgb(154, 223, 250);
    margin: 50px;
    text-align: center;
    font-size: 21px;
    color: rgb(255, 255, 255);
    padding:10px 32px;  
    border: 1px rgb(207, 229, 255) solid;

}

.form p{
    margin: 0 40px;
    background-color: rgb(250, 223, 231);
    margin-bottom: 46px;    
    text-align: center;
    font-size: 19px;
    padding: 10px 0px;
    border: 1px rgb(215, 233, 255) solid;

}

form{
    font-size: 19px;
    margin-left: 50px;
    margin-bottom: 29px;
}

form label{
    cursor: pointer;
}

form button{
    margin-top: 20px;
    margin-left: 370px;
    padding: 15px;
    background-color: #fff0fb;
    border: 1px rgb(215, 233, 255) solid;
    border-radius: 18px;
    cursor: pointer;

}

form input{
    font-size: 18px;
    margin: 10px 0;
    padding: 9px 7px;
    width: 450px;
    border-color: rgb(207, 207, 207);
    box-shadow: none;
    outline: none;
    border-style: none;
    border: 1px rgb(215, 233, 255) solid;

}





